The file <b>ex1data2.txt</b> contains a training set of housing prices in Portland, Oregon. The first column is the size of the house (in square feet), the second column is the number of bedrooms, and the third column is the price of the house.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
data = pd.read_csv('ex1data2.txt', header=None)

In [3]:
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [4]:
X = data.iloc[:,0:2]
y = data.iloc[:,2]
n = len(X)

In [5]:
X = (X - np.mean(X))/np.std(X)

In [6]:
X

           0         1
0   0.131415 -0.226093
1  -0.509641 -0.226093
2   0.507909 -0.226093
3  -0.743677 -1.554392
4   1.271071  1.102205
5  -0.019945  1.102205
6  -0.593589 -0.226093
7  -0.729686 -0.226093
8  -0.789467 -0.226093
9  -0.644466 -0.226093
10 -0.077182  1.102205
11 -0.000866 -0.226093
12 -0.140779 -0.226093
13  3.150993  2.430504
14 -0.931924 -0.226093
15  0.380715  1.102205
16 -0.865783 -1.554392
17 -0.972626 -0.226093
18  0.773743  1.102205
19  1.310501  1.102205
20 -0.297227 -0.226093
21 -0.143323 -1.554392
22 -0.504553 -0.226093
23 -0.049200  1.102205
24  2.403094 -0.226093
25 -1.145609 -0.226093
26 -0.690256 -0.226093
27  0.668173 -0.226093
28  0.253521 -0.226093
29  0.809358 -0.226093
30 -0.205648 -1.554392
31 -1.272803 -2.882690
32  0.050011  1.102205
33  1.445326 -0.226093
34 -0.241262  1.102205
35 -0.716966 -0.226093
36 -0.968810 -0.226093
37  0.167030  1.102205
38  2.816474  1.102205
39  0.205188  1.102205
40 -0.428237 -1.554392
41  0.301855 -0.226093
42  0.720322  1.102205
43 -1.018415 -0.226093
44 -1.461049 -1.554392
45 -0.189113  1.102205
46 -1.014600 -0.226093

In [7]:
ones = np.ones([n,1])
X = np.hstack([X,ones])
iterations = 200
alpha = 0.3
y = y[:,np.newaxis]
theta = np.zeros([3,1])

In [8]:
def computeCost(X, y, theta):
    y_predicted = np.dot(X, theta)
    cost = np.sum(np.power(y_predicted - y, 2))/(2*n)
    return cost

In [9]:
J = computeCost(X, y, theta)
print(J)

65591548106.45744

In [10]:
def gradientDescent(X, y, alpha, theta, iterations):
    for _ in range(iterations):
        temp = np.dot(X, theta) - y
        temp = np.dot(X.T, temp)
        theta = theta - (alpha/n)*temp
    return theta

In [11]:
theta = gradientDescent(X, y, alpha, theta, iterations)

In [12]:
theta

array([[109447.79646961],
       [ -6578.35485413],
       [340412.65957447]])

In [13]:
J = computeCost(X, y, theta)
print(J)

2043280050.602828